.container {
    margin: auto;
    margin-top: 10%;
    width: 335px;
    padding-left: 8px;
}

kbd {
    display: inline-block;
    text-align: center;
}

.white-keys kbd {
    background-color: white;
    border: 2px solid black;
    min-height: 40px;
    margin-left: -5px;
    width: 45px;
    padding-top: 120px;
    font-family: 'Vesper Libre', serif;
}

.black-keys kbd {
    position: relative;
    background-color: black;
    min-height: 40px;
    color: white;
    left: 29px;
    top: 102px;
    width: 30px;
    margin-right: 13px;
    padding-top: 60px;
}
.spacer {
    margin-left: 50px;
}

body {
    background-color: green;
}